@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antic+Didone&family=Indie+Flower&display=swap');

:root {
   --main-color:#f33925;
   /*--red:#e74c3c;*/
   --orange:#f39c12;
   --light-color:#888;
   --light-bg:#eee;
   --black:#2c3e50;
   --white:#fff;
   --border:.1rem solid rgba(0,0,0,.2);
   --dark: #000000;
}

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

*::selection {
   background-color: var(--main-color);
   color: #fff; 
}

*::-webkit-scrollbar-track {
    background-color: transparent;
}

*::-webkit-scrollbar-track {
    background-color: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background-color: var(--white);
    
}

body.dark {
    --light-color:#aaa;
    --light-bg:#333;
    --black:#fff;
    --white:#222;
    --border:.1rem solid rgba(255,255,255,.2);
    --dark: #fff;
}

body.active {
    padding-left: 0;
}

section {
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.btn,
.option-btn,
.delete-btn,
.inline-btn,
.reg-btn,
.inline-option-btn,
.inline-delete-btn {
    border-radius: 5rem;
    padding: 1rem 3rem;
    font-size: 1.8rem;
    color: #fff;
    margin-top: 1rem;
    text-transform: capitalize;
    cursor: pointer;
    text-align: center;
}

.btn,
.option-btn,
.delete-btn {
    display: block;
    width: 100%;
}

.inline-btn,
.inline-option-btn,
.inline-delete-btn {
    display: inline-block;
}

.btn {
    background-color: var(--main-color);
}

.inline-btn {
    background-color: var(--main-color);
}

.reg-btn {
    background-color: transparent;
    border: solid;
    display: inline-block;
    margin: 3rem 0 0 18rem;
}


.option-btn,
.inline-option-btn {
    background-color: var(--orange);
}

.delete-btn,
.inline-delete-btn {
    background-color: var(--red);
}

.btn:hover,
.option-btn:hover,
.delete-btn:hover,
.inline-btn:hover,
.reg-btn:hover,
.inline-option-btn:hover,
.inline-delete-btn:hover {
    background-color: rgb(233, 185, 185);
    color: #000000;
}

.flex-btn {
    display: flex;
}

.heading {
    padding-bottom: 1.8rem;
    font-size: 2.5rem;
    color: var(--black);
    text-transform: capitalize;
    margin: 2.5rem 0 2rem 10rem;
}


.header {
    background-color: var(--white);
    border-bottom: var(--border);
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1000;
}

.header .flex {
    padding: 1.5rem 2rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .flex .logo {
    font-size: 5rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    margin-left: 2rem;
}

.header .flex .icons div {
    font-size: 2rem;
    color: var(--black);
    border-radius: .5rem;
    height: 4.5rem;
    cursor: pointer;
    width: 4.5rem;
    line-height: 4.4rem;
    background-color: var(--light-bg);
    text-align: center;
    margin-left: .5rem;
}

.header .flex .icons div:hover {
    background-color: var(--black);
    color:var(--white)
} 

.header .flex .profile{
    position: absolute;
    top:120%; right: 2rem;
    background-color: var(--white);
    border-radius: .5rem;
    padding: 1.5rem;
    text-align: center;
    overflow: hidden;
    width: 30rem;
    transform: scale(0); 
    transform-origin: top right;
    transition: .2s linear;
 }

.header .flex .profile.active {
    transform: scale(1);
}

img {
    height: 100px;
    width: 100px;
}

.header .flex .profile img {
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: .5rem;
}

.header .flex .profile p {
    color: var(--light-color);
    font-size: 1.6rem;
    text-align: center;
}

.side-bar {
    position: fixed;
    top: 0; left: 0;
    height: 100vh;
    width: 25rem;
    background-color: var(--white);
    border-right: var(--border);
    z-index: 1200;
}

.side-bar .close-side-bar {
    text-align: right;
    padding: 2rem;
    padding-bottom: 0;
    display: none;
}

.side-bar .close-side-bar i {
    height: 3.5rem;
    width: 3.5rem;
    line-height: 3.4rem;
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
    background-color: var(--red);
    text-align: center;
    border-radius: .5rem;
}

.side-bar .close-side-bar i:hover {
    background-color: var(--black);

}

/*
.side-bar .profile {
    padding: 3rem 2rem;
    text-align: center;
}

.side-bar .profile img {
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: .5rem;
}

.side-bar .profile span {
    color: var(--light-color);
    font-size: 1.6rem;   
} */

.navbar {
    margin-top: 5rem;
}

.side-bar .navbar a {
    display: block;
    padding: 2rem;
    margin: .5rem 0;
    font-size: 1.8rem;
}

.side-bar .navbar a i {
    color: var(--main-color);
    margin-right: 1.5rem;
    transition: .2s linear;
 }

.side-bar .navbar a span {
    color: var(--light-color);
}

.side-bar .navbar a:hover {
    background-color: var(--light-bg);
}

.side-bar .navbar a:hover i {
    margin-right: 2.5rem;
}

.side-bar.active {
    left: -31rem;
}


.banner img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 5%;
}

.LearnBox {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    align-items: flex-start;
    margin: 3rem 0 4rem 0; 
}

.LearnBox .box1 {
    width: 100%;
    min-height: 35rem;
    min-width: 35rem;
    display: flex;
    background-color: rgb(239, 184, 184);
}

.LearnBox .box1 img {
    height: 35rem;
    width: 51rem;
}

.LearnBox .box1 h3 {
    font-size: 25px;
    text-align: center;
    margin-top: 70px;
    margin-left: 45px;
}

.LearnBox .box1 p {
    font-size: 16px;
    margin: 25px 40px 0 90px;
    line-height: 30px;
    text-align: justify;
}

.box-container {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(27.5rem, 1fr));
    gap: 1.3rem;
    align-items: center;   
    margin-left: 7rem;
    margin-right: 7rem;
}

.quick-select .box-container .box {
    border-radius: 1.5rem;
    padding: 1rem;
    margin-bottom: 3rem;
}

.quick-select .box-container .box .title {
    font-size: 3rem;
    color: var(--dark);
    text-align: center;
}

.quick-select .box-container .box .title2 {
    font-size: 2rem;
    color: var(--dark);
    text-align: center;
}

.quick-select .box-container .box p {
    line-height: 2;
    padding-top: 1.5rem;
    color: var(--light-color);
    font-size: 1.8rem;
}

.quick-select .box-container .tutor {
    text-align: center;
}

.quick-select .box-container .tutor p { 
    padding-bottom: 1rem;
} 

.quick-select .box-container .box .flex {
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem;
    padding-top: 2rem; 
    margin-top: 1.3rem;
    margin-left: 10rem
}

.quick-select .box-container .box .flex a {
    padding: 2rem 2.5rem 2.5rem 2rem;
    text-align: center;
    border-radius: .5rem;
    font-size: 1.7rem;
    background-color: transparent;
    border: solid red;
    align-items: center;
}

.quick-select .box-container .box .flex a i { 
    margin-right: 1rem;
    color: rgb(242, 166, 166);
}

.quick-select .box-container .box .flex a span { 
    color: var(--dark);
}

.quick-select .box-container .box .flex a:hover { 
    background-color: rgb(233, 185, 185);
}

.quick-select .box-container .box .flex a:hover i {
    color: var(--white)
}

.quick-select .box-container .box .flex a:hover span {
    color: var(--white);
}

.form-container{
    min-height: calc(100vh - 20rem);
    display: flex;
    align-items: center;
    justify-content: center;
 }
 
 .form-container form{
    background-color: var(--white);
    border-radius: .5rem;
    padding: 2rem;
    width: 50rem;
 }
 
 .form-container form h3{
    display: flex;
    font-size: 2.5rem;
    text-transform: capitalize;
    color: var(--black);
    text-align: center;
 }
 
 .form-container form p{
    font-size: 1.7rem;
    color: var(--light-color);
    padding-top: 1rem;
 }
 
 .form-container form p span{
    color: var(--red);
 }
 
 .form-container form .box{
    font-size: 1.8rem;
    color: var(--black);
    border-radius: .5rem;
    padding: 1.4rem;
    background-color: var(--light-bg);
    width: 100%;
    margin: 1rem 0;
 }

 .form-container form .user-details {
    display: flex;
 }

 .T-headings {
    left: 45rem;
    font-size: 3rem;
    color: var(--black)
 }

 .teachers .search-tutor{
    margin: 3rem 0 2rem 0;
    border-radius: .5rem;
    background-color: var(--white);
    padding: 1.5rem 2rem;
    display: flex;
    align-items: center;
    gap: 1.5rem;
 }
 
 .teachers .search-tutor input{
    width: 100%;
    background: none;
    font-size: 1.8rem;
    color: var(--black);
 }
 
 .teachers .search-tutor button{
    font-size: 2rem;
    color: var(--black);
    cursor: pointer;
    background:none;
 }
 
 .teachers .search-tutor button:hover{
    color: var(--main-color);
 }
 
 .teachers .box-teacher{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    gap: 3rem;
    justify-content: center;
 }
 
 .teachers .box-teacher .box{
    background-color: var(--white);
    border-radius: .5rem;
    padding: 1rem;
    width: 70rem;
    margin-bottom: 5rem;
 }
 
 .teachers .box-teacher .offer{
    text-align: center;
 }
 
 .teachers .box-teacher .offer h3{
    font-size: 2.5rem;
    color: var(--black);
    text-transform: capitalize;
    padding-bottom: .5rem;
 }
 
 .teachers .box-teacher .offer p{
    line-height: 1.7;
    padding: .5rem 0;
    color: var(--light-color);
    font-size: 1.7rem;
 }
 
 .teachers .box-teacher .box .tutor{
    display: flex;
    align-items: center;
    gap: 1.2rem;
    margin-bottom: 1.5rem;
 }
 
 .teachers .box-teacher .box .tutor img{
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
 }
 
 .teachers .box-teacher .box .tutor h3{
    font-size: 2rem;
    color: var(--black);
    margin-bottom: .2rem;
 }
 
 .teachers .box-teacher .box .tutor span{
    font-size: 1.6rem;
    padding-top: 1rem;
    color: var(--light-color);
 }
 
 .teachers .box-teacher .box p{
    padding: .5rem 0;
    font-size: 1.7rem;
    color: var(--light-color);
 }
 
 .teachers .box-teacher .box p span{
    color: var(--main-color);
 }

 .T-reviews {
    left: 45rem;
    font-size: 3rem;
    margin-top: 1rem;
    color: var(--black)
 }

 .reviews .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
    justify-content: center;
    align-items: flex-start;
 }
 
 .reviews .box-container .box{
    border-radius: .5rem;
    background-color: var(--white);
    padding: 2rem;
 }
 
 .reviews .box-container .box p{
    line-height: 1.7;
    font-size: 1.7rem;
    color: var(--light-color);
 }
 
 .reviews .box-container .box .student{
    margin-top: 2rem;
    display: flex;
    align-items: center;
    gap: 1.5rem;
 }
 
 .reviews .box-container .box .student img{
    height: 5rem;
    width: 5rem;
    object-fit: cover;
    border-radius: 50%;
 }
 
 .reviews .box-container .box .student h3{
    font-size: 2rem;
    color: var(--black);
    margin-bottom: .3rem;
 }
 
 .reviews .box-container .box .student .stars{
    font-size: 1.5rem;
    color:var(--orange);
 }

 .contactdetails {
    width: 100%;
    height: 25rem;
    background-color: rgba(253,236,150, 0.7);
    margin-top: 3rem;
} 

.contactdetails h2 {
    font-size: 3rem;
    text-align: center;
    padding-top: 2rem;
}

 .add-details {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    margin: 0 10rem 2rem 10rem;
    gap: 2rem;
 }

 .details1 {
    margin-top: 2.5rem;
    padding: 3rem;
    border: solid;
    align-items: center;
 }

 .details1 img {
    height: 3rem;
    width: 3rem;
    margin: 0 0 .5rem 16rem;
    display: inline-block;
 }

 .details1 h3 {
    font-size: 2rem;
    text-align: center;
 }

 .details1 p {
    font-size: 1.5rem;
    padding-top: .5rem;
    text-align: center;
 }

 .map img{
    width: 100%;
    height: 30rem;
 }

 .about-header {
    position: relative;
 }

 .about-header img {
    width: 100%;
    height: 40rem;
    filter: blur(4px);
 }
 
 .content {
    position: absolute;
    top: 35%;
    padding: 10px;
    text-align: center;
    height: 100%;
    margin-left: 30rem;
 }
 
 .content p{
    text-align: center;
    font-size: 2rem;
    line-height: 1.5;
    color: white;
    padding: 1rem 0;
    margin-top: .5rem;
 }
 
 .content h2{
    top: 25%;
    text-align: center;
    font-size: 4rem;
    font-weight: bolder;
    color: white;
    text-transform: uppercase;
 } 

 .about-box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    gap: 2.5rem;
    align-items: flex-start;
    margin: 0 5rem 0 15rem; 
 }
 
 .about-box-container .box{
    border-radius: .5rem;
    padding: 1rem; 
    display: flex;
    align-items: center;
    gap: 2.5rem;
 }
 
 .about-box-container .box i{
    font-size: 3rem;
 }

 .about-box-container .box .fa-book-open-reader {
    color: rgb(0, 106, 255);
 }

 .about-box-container .box .fa-school-lock {
    color: rgb(249, 6, 107)
 }

 .about-box-container .box .fa-chalkboard-user {
    color: rgb(170, 0, 255);
 }
 
 .about-box-container .box h3{
    font-size: 2.4rem;
    color: var(--black);
    margin-bottom: .3rem;
    text-align: center;
 }
 
 .about-box-container .box p{
    font-size: 1.4rem;
    color:var(--light-color);
    text-align: justify;
    line-height: 20px;
 }

 .emailform .container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 4rem;
 }

 .emailform .container .item {
    width: 100%;
    height: 550px;
    max-width: 820px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 0 20px 10px rgba(0,0,0,.4);
    overflow: hidden;
    grid-template-columns: repeat(2, 1fr);
    display: grid;
    z-index: 1000;
 }

 .emailform .container .item .contact {
    background: #fff;
 }

 .emailform .container .item .submit-form {
    background: rgb(243, 78, 105);
 }

 .emailform .container .item .contact .first-text {
    color: #0f52ba;
    padding-left: 20px;
    padding-top: 20px;
    font-size: 35px;
    font-weight: bolder;
    text-align: center;
    margin-top: 25px;
 }

 .emailform .container .item .contact .contactimg {
    height: 320px;
    width: 320px;
    margin: 35px 0 0 35px;
 }

 .second-text {
    font-size: 25px;
    color: #fff;
    position: relative;
    top: 20px;
    left: 20px;
    padding-top: 10px;
    margin-left: 20px;
}

form {
    padding: 0 50px;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.input-box {
    height: 40px;
    width: 90%;
    margin: 30px 0;
    position: relative;
}

.input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 20px;
    outline: none;
    padding-left: 10px;
    color: var(--dark);
    font-size: 16px;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 10px;
    padding-left: 10px;
    transform: translateY(-50%);
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    transition: .3s;
}

.input-box .input:focus ~ label,
.input-box .input:valid ~ label {
    top: -1px;
    left: 10px;
    background: rgb(243, 78, 105);
    font-weight: 500;
    font-size: 12px;
    padding: 5px;
}

textarea.input {
    resize: none;
    min-height: 150px;
    overflow:  auto;
}

.submitbtn {
    position: relative;
    top: 100px;
    background: #fff;
    outline: none;
    border: none;
    border-radius: 4px;
    height: 35px;
    width: 30%;
    font-size: 16px;
    color: rgb(243, 78, 105);
    cursor: pointer;
    font-weight: 500;
}

.teacher-header {
    margin: 2rem 10rem 0 10rem;
    align-items: center;
}

.teacher-header h2 {
    text-align: center;
    font-size: 30px;
    display: block;
    padding-bottom: 2rem;
    margin-top: 4rem;
    color: var(--dark);
}

.teacherscontact {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    margin: 0 10rem 0 10rem;
}

.teacherscontact img {
    border-radius: 1rem;
    width: 20rem;
    height: 25rem;
    background-color: rgba(170, 142, 186, 0.7);
    display: block;
    justify-content: center;
    margin: 0 2rem 0 4rem;
}

.teacherscontact h3 {
    font-size: 1.7rem;
    text-align: center;
    margin-right: 4rem;
    padding: .8rem;
    color: var(--dark);
}

.teacherscontact i {
    text-align: center;
    display: inline-block;
    padding: .5rem 0 3rem 3rem;
    font-size: 1.4rem;
    margin-left: 4rem;
    color:var(--main-color);
}

.teacherscontact span {
    text-align: center;
    margin-left: 10px;
    display: inline-block;
    font-size: 14px;
    margin-bottom: 2rem;
    color: var(--dark);
}


.footer {
    position: sticky;
    bottom: 0; right: 0; left: 0;
    background-color: var(--white);
    border-top: var(--border);
    padding: 2.5rem 2rem;
    text-align: center;
    color: var(--black);
    font-size: 1.2rem;
    z-index: 1000;
}

.footer span {
    color: rgb(243, 78, 105);
}



























/* media queries */

@media (max-width:1200px) {

    body {
        padding-left: 0;
    }

    .side-bar {
        transition: .2s linear;
        left: -30rem;
    }

    .side-bar.active {
        left: 0;
        box-shadow: 0 0 0 100vw rgba(0,0,0,.7);
    }

    .side-bar .close-side-bar {
        display: block;
    }
}

@media (max-width:991px) {

    html {
        font-size: 55%;
    }
}

@media (max-width:768px) {
    .header .flex {
        position: absolute;
        top: 99%; left: 0; right: 0;
        width: auto;
        border-top: var(--border);
        border-bottom:  var(--border);
        background-color: var(--white);
    }
}

@media (max-width:450px) {

    html {
        font-size: 50%;
    }

    heading {
        font-size: 2rem;
    }

    .flex-btn {
        flex-flow: column;
        gap: 0;
    }
}
